.filters {
    position: relative;
    background-color: #FFFFFF;
    height: 9vh;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.filters button {
    position: absolute;
    background-color: #E90E0E;
    color: #FFFFFF;
    font-size: 1.125rem;
    height: 6.5vh;
    width: 20%;
    border: 0;
    border-radius: 0.25rem;
    right: 1.875rem;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    cursor: pointer;
}

.filters button:hover {
    opacity: 90%;
}

.filters div {
    position: relative;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.filters .locations {
    border-right: 1px solid #DDDDDD;
}

.filters h3 {
    font-weight: 600;
    margin: 0 0 0 2.5rem;
}

.filters h4 {
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0 0 0 2.5rem;
}

.popover {
    border: 1px solid #DDDDDD;
    border-radius: 0.25rem;
    display: none;
    position: absolute;
    background-color: #FAFAFA;
    width: calc(100% + 1px); /* The extra 1px makes up for the 1px border-right on .locations */
    top: 100%;
    margin: 0;
    padding: 1.875rem 0 0 0;
    cursor: pointer;
}

.popover, .popover ul {
    list-style-type: None;
}

.popover h2 {
    font-size: 1rem;
    margin: 0;
    padding-left: 1.25rem;
}

.popover ul, .amenities .popover {
    padding-left: 2.5rem;
    padding-bottom: 1.563rem;
}


.filters div:focus-within .popover,
.filters div:hover .popover {
    display: block;
}

@media (max-width: 768px) {
    .filters {
	width: calc(100% - 30px);
	height: 8vh;
	margin: 0 auto;
    }

    .filters button {
	right: 0.875rem;
    }

    .filters h3 {
	margin: 0 0 0 1rem;
    }

    .filters h4 {
	margin: 0 0 0 1rem;
    }

    .filters div {
	width: 30%;
    }

    .popover {
	padding: 1rem 0 0 0;
    }

    .popover h2 {
	padding: 0 1rem;
    }

    .popover ul, .amenities .popover {
	padding-left: 1rem;
	padding-bottom: 1rem;
    }
}
