.places {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.places h1 {
    font-size: 30px;
    flex: 0 0 100%;
    padding: 25px 15px 0;
    margin: 0;
}

.places article {
    display: flex;
    width: 390px;
    min-height: 70px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

.places h2 {
    font-size: 30px;
}
